.filelist_wrapper {
    width: 80%;
    height: 100%;
    border-right-width: 2px;
    border-right-color: #acacac;
    border-right-style: solid;
    display: flex;
}

.filelist_header_wrapper {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #acacac;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_directory_title_wrapper {
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 30px;
    color: #353535;
}

.header_button_wrapper {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.header_button {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-width: 0px;
    background-color: #e0e0e0;
}

.header_button_image_wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_button_image {
    width: 35px;
}

.header_button_title_wrapper {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
}